<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 3.9.1 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bfc6159b7c45bea570797627747fbe20:71c48fe2b447bb0815b37edb25930404:f7f2c4f2cc235ed2fcab99bb85e18866$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>character.1.png</string>
                <key>size</key>
                <string>{2046,1603}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>BallAnimation/ball_0.png</string>
                        <key>spriteOffset</key>
                        <string>{18,21}</string>
                        <key>spriteSourceSize</key>
                        <string>{61,71}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{24,24}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>BallAnimation/ball_1.png</string>
                        <key>spriteOffset</key>
                        <string>{17,19}</string>
                        <key>spriteSourceSize</key>
                        <string>{61,71}</string>
                        <key>textureRect</key>
                        <string>{{27,1},{26,27}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>BallAnimation/ball_2.png</string>
                        <key>spriteOffset</key>
                        <string>{17,20}</string>
                        <key>spriteSourceSize</key>
                        <string>{61,71}</string>
                        <key>textureRect</key>
                        <string>{{55,1},{27,26}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>BallAnimation/ball_3.png</string>
                        <key>spriteOffset</key>
                        <string>{16,19}</string>
                        <key>spriteSourceSize</key>
                        <string>{61,71}</string>
                        <key>textureRect</key>
                        <string>{{84,1},{28,27}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Buttons&amp;Controls/ShootButtonSprite.png</string>
                        <key>spriteOffset</key>
                        <string>{12,15}</string>
                        <key>spriteSourceSize</key>
                        <string>{61,71}</string>
                        <key>textureRect</key>
                        <string>{{114,1},{38,40}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>CryAnimation/cry_0.png</string>
                        <key>spriteOffset</key>
                        <string>{2,5}</string>
                        <key>spriteSourceSize</key>
                        <string>{61,71}</string>
                        <key>textureRect</key>
                        <string>{{154,1},{56,52}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>CryAnimation/cry_1.png</string>
                        <key>spriteOffset</key>
                        <string>{0,5}</string>
                        <key>spriteSourceSize</key>
                        <string>{61,71}</string>
                        <key>textureRect</key>
                        <string>{{212,1},{58,55}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>CryAnimation/cry_2.png</string>
                        <key>spriteOffset</key>
                        <string>{6,5}</string>
                        <key>spriteSourceSize</key>
                        <string>{61,71}</string>
                        <key>textureRect</key>
                        <string>{{272,1},{51,54}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>DirArrow/down_arrow.png</string>
                        <key>spriteOffset</key>
                        <string>{6,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{40,39}</string>
                        <key>textureRect</key>
                        <string>{{325,1},{31,36}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>DirArrow/left_arrow.png</string>
                        <key>spriteOffset</key>
                        <string>{2,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{39,40}</string>
                        <key>textureRect</key>
                        <string>{{358,1},{36,31}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>DirArrow/right_arrow.png</string>
                        <key>spriteOffset</key>
                        <string>{1,5}</string>
                        <key>spriteSourceSize</key>
                        <string>{39,40}</string>
                        <key>textureRect</key>
                        <string>{{396,1},{36,31}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>DirArrow/up_arrow.png</string>
                        <key>spriteOffset</key>
                        <string>{3,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{40,39}</string>
                        <key>textureRect</key>
                        <string>{{434,1},{31,36}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <true/>
                        <key>name</key>
                        <string>Feedback/cheer_crowd.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{124,63}</string>
                        <key>textureRect</key>
                        <string>{{467,1},{124,63}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <true/>
                        <key>name</key>
                        <string>Feedback/score_bk.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{89,44}</string>
                        <key>textureRect</key>
                        <string>{{593,1},{89,44}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Feedback/stage_clear.png</string>
                        <key>spriteOffset</key>
                        <string>{4,5}</string>
                        <key>spriteSourceSize</key>
                        <string>{226,45}</string>
                        <key>textureRect</key>
                        <string>{{684,1},{217,34}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>RunAnimation/run_0.png</string>
                        <key>spriteOffset</key>
                        <string>{8,7}</string>
                        <key>spriteSourceSize</key>
                        <string>{61,71}</string>
                        <key>textureRect</key>
                        <string>{{903,1},{47,57}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>RunAnimation/run_1.png</string>
                        <key>spriteOffset</key>
                        <string>{6,7}</string>
                        <key>spriteSourceSize</key>
                        <string>{61,71}</string>
                        <key>textureRect</key>
                        <string>{{952,1},{48,58}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>RunAnimation/run_2.png</string>
                        <key>spriteOffset</key>
                        <string>{9,7}</string>
                        <key>spriteSourceSize</key>
                        <string>{61,71}</string>
                        <key>textureRect</key>
                        <string>{{1002,1},{45,59}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>RunAnimation/run_3.png</string>
                        <key>spriteOffset</key>
                        <string>{7,6}</string>
                        <key>spriteSourceSize</key>
                        <string>{61,71}</string>
                        <key>textureRect</key>
                        <string>{{1049,1},{47,60}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>RunAnimation/run_4.png</string>
                        <key>spriteOffset</key>
                        <string>{8,6}</string>
                        <key>spriteSourceSize</key>
                        <string>{61,71}</string>
                        <key>textureRect</key>
                        <string>{{1098,1},{45,57}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>RunAnimation/run_5.png</string>
                        <key>spriteOffset</key>
                        <string>{7,6}</string>
                        <key>spriteSourceSize</key>
                        <string>{61,71}</string>
                        <key>textureRect</key>
                        <string>{{1145,1},{48,58}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>RunAnimation/run_6.png</string>
                        <key>spriteOffset</key>
                        <string>{6,6}</string>
                        <key>spriteSourceSize</key>
                        <string>{61,71}</string>
                        <key>textureRect</key>
                        <string>{{1195,1},{48,60}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>RunAnimation/run_7.png</string>
                        <key>spriteOffset</key>
                        <string>{4,7}</string>
                        <key>spriteSourceSize</key>
                        <string>{61,71}</string>
                        <key>textureRect</key>
                        <string>{{1245,1},{51,58}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>ShootAnimation/shoot_0.png</string>
                        <key>spriteOffset</key>
                        <string>{5,5}</string>
                        <key>spriteSourceSize</key>
                        <string>{61,71}</string>
                        <key>textureRect</key>
                        <string>{{1298,1},{48,60}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>ShootAnimation/shoot_1.png</string>
                        <key>spriteOffset</key>
                        <string>{8,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{62,71}</string>
                        <key>textureRect</key>
                        <string>{{1348,1},{51,61}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>ShootAnimation/shoot_2.png</string>
                        <key>spriteOffset</key>
                        <string>{10,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{62,71}</string>
                        <key>textureRect</key>
                        <string>{{1401,1},{43,62}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>ShootAnimation/shoot_3.png</string>
                        <key>spriteOffset</key>
                        <string>{6,5}</string>
                        <key>spriteSourceSize</key>
                        <string>{62,71}</string>
                        <key>textureRect</key>
                        <string>{{1446,1},{51,63}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>ShootAnimation/shoot_4.png</string>
                        <key>spriteOffset</key>
                        <string>{7,5}</string>
                        <key>spriteSourceSize</key>
                        <string>{62,71}</string>
                        <key>textureRect</key>
                        <string>{{1499,1},{47,62}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>ShootAnimation/shoot_5.png</string>
                        <key>spriteOffset</key>
                        <string>{8,5}</string>
                        <key>spriteSourceSize</key>
                        <string>{61,71}</string>
                        <key>textureRect</key>
                        <string>{{1548,1},{48,60}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <true/>
                        <key>name</key>
                        <string>background.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{2044,1536}</string>
                        <key>textureRect</key>
                        <string>{{1,66},{2044,1536}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
