<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 3.9.1 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ed1a37875f59b11c75615570e7174a4c:05a41745800613de7cf191ee5b2d049e:42f31240e324c14a75ffe3747b413c83$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>character.1.png</string>
                <key>size</key>
                <string>{2046,1603}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>BallAnimation/ball_0.png</string>
                        <key>spriteOffset</key>
                        <string>{18,21}</string>
                        <key>spriteSourceSize</key>
                        <string>{61,71}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{24,24}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>BallAnimation/ball_1.png</string>
                        <key>spriteOffset</key>
                        <string>{17,19}</string>
                        <key>spriteSourceSize</key>
                        <string>{61,71}</string>
                        <key>textureRect</key>
                        <string>{{27,1},{26,27}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>BallAnimation/ball_2.png</string>
                        <key>spriteOffset</key>
                        <string>{17,20}</string>
                        <key>spriteSourceSize</key>
                        <string>{61,71}</string>
                        <key>textureRect</key>
                        <string>{{55,1},{27,26}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>BallAnimation/ball_3.png</string>
                        <key>spriteOffset</key>
                        <string>{16,19}</string>
                        <key>spriteSourceSize</key>
                        <string>{61,71}</string>
                        <key>textureRect</key>
                        <string>{{84,1},{28,27}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>CryAnimation/cry_0.png</string>
                        <key>spriteOffset</key>
                        <string>{2,5}</string>
                        <key>spriteSourceSize</key>
                        <string>{61,71}</string>
                        <key>textureRect</key>
                        <string>{{114,1},{56,52}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>CryAnimation/cry_1.png</string>
                        <key>spriteOffset</key>
                        <string>{0,5}</string>
                        <key>spriteSourceSize</key>
                        <string>{61,71}</string>
                        <key>textureRect</key>
                        <string>{{172,1},{58,55}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>CryAnimation/cry_2.png</string>
                        <key>spriteOffset</key>
                        <string>{6,5}</string>
                        <key>spriteSourceSize</key>
                        <string>{61,71}</string>
                        <key>textureRect</key>
                        <string>{{232,1},{51,54}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>RunAnimation/run_0.png</string>
                        <key>spriteOffset</key>
                        <string>{8,7}</string>
                        <key>spriteSourceSize</key>
                        <string>{61,71}</string>
                        <key>textureRect</key>
                        <string>{{285,1},{47,57}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>RunAnimation/run_1.png</string>
                        <key>spriteOffset</key>
                        <string>{6,7}</string>
                        <key>spriteSourceSize</key>
                        <string>{61,71}</string>
                        <key>textureRect</key>
                        <string>{{334,1},{48,58}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>RunAnimation/run_2.png</string>
                        <key>spriteOffset</key>
                        <string>{9,7}</string>
                        <key>spriteSourceSize</key>
                        <string>{61,71}</string>
                        <key>textureRect</key>
                        <string>{{384,1},{45,59}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>RunAnimation/run_3.png</string>
                        <key>spriteOffset</key>
                        <string>{7,6}</string>
                        <key>spriteSourceSize</key>
                        <string>{61,71}</string>
                        <key>textureRect</key>
                        <string>{{431,1},{47,60}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>RunAnimation/run_4.png</string>
                        <key>spriteOffset</key>
                        <string>{8,6}</string>
                        <key>spriteSourceSize</key>
                        <string>{61,71}</string>
                        <key>textureRect</key>
                        <string>{{480,1},{45,57}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>RunAnimation/run_5.png</string>
                        <key>spriteOffset</key>
                        <string>{7,6}</string>
                        <key>spriteSourceSize</key>
                        <string>{61,71}</string>
                        <key>textureRect</key>
                        <string>{{527,1},{48,58}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>RunAnimation/run_6.png</string>
                        <key>spriteOffset</key>
                        <string>{6,6}</string>
                        <key>spriteSourceSize</key>
                        <string>{61,71}</string>
                        <key>textureRect</key>
                        <string>{{577,1},{48,60}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>RunAnimation/run_7.png</string>
                        <key>spriteOffset</key>
                        <string>{4,7}</string>
                        <key>spriteSourceSize</key>
                        <string>{61,71}</string>
                        <key>textureRect</key>
                        <string>{{627,1},{51,58}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>ShootAnimation/shoot_0.png</string>
                        <key>spriteOffset</key>
                        <string>{5,5}</string>
                        <key>spriteSourceSize</key>
                        <string>{61,71}</string>
                        <key>textureRect</key>
                        <string>{{680,1},{48,60}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>ShootAnimation/shoot_1.png</string>
                        <key>spriteOffset</key>
                        <string>{8,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{62,71}</string>
                        <key>textureRect</key>
                        <string>{{730,1},{51,61}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>ShootAnimation/shoot_2.png</string>
                        <key>spriteOffset</key>
                        <string>{10,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{62,71}</string>
                        <key>textureRect</key>
                        <string>{{783,1},{43,62}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>ShootAnimation/shoot_3.png</string>
                        <key>spriteOffset</key>
                        <string>{6,5}</string>
                        <key>spriteSourceSize</key>
                        <string>{62,71}</string>
                        <key>textureRect</key>
                        <string>{{828,1},{51,63}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>ShootAnimation/shoot_4.png</string>
                        <key>spriteOffset</key>
                        <string>{7,5}</string>
                        <key>spriteSourceSize</key>
                        <string>{62,71}</string>
                        <key>textureRect</key>
                        <string>{{881,1},{47,62}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>ShootAnimation/shoot_5.png</string>
                        <key>spriteOffset</key>
                        <string>{8,5}</string>
                        <key>spriteSourceSize</key>
                        <string>{61,71}</string>
                        <key>textureRect</key>
                        <string>{{930,1},{48,60}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <true/>
                        <key>name</key>
                        <string>background.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{2044,1536}</string>
                        <key>textureRect</key>
                        <string>{{1,66},{2044,1536}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
