<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 3.9.1 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be93455840006e9452f764bc7b929763:95cfabf6b7a0dc13a5ad0fc624a5c63a:a3ec951cc007a2f3481d2a26e41154d2$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>character.1.png</string>
                <key>size</key>
                <string>{2046,1603}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>BallAnimation/ball_0.png</string>
                        <key>spriteOffset</key>
                        <string>{18,21}</string>
                        <key>spriteSourceSize</key>
                        <string>{61,71}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{24,24}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>BallAnimation/ball_1.png</string>
                        <key>spriteOffset</key>
                        <string>{17,19}</string>
                        <key>spriteSourceSize</key>
                        <string>{61,71}</string>
                        <key>textureRect</key>
                        <string>{{27,1},{26,27}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>BallAnimation/ball_2.png</string>
                        <key>spriteOffset</key>
                        <string>{17,20}</string>
                        <key>spriteSourceSize</key>
                        <string>{61,71}</string>
                        <key>textureRect</key>
                        <string>{{55,1},{27,26}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>BallAnimation/ball_3.png</string>
                        <key>spriteOffset</key>
                        <string>{16,19}</string>
                        <key>spriteSourceSize</key>
                        <string>{61,71}</string>
                        <key>textureRect</key>
                        <string>{{84,1},{28,27}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Buttons&amp;Controls/ShootButtonSprite.png</string>
                        <key>spriteOffset</key>
                        <string>{12,15}</string>
                        <key>spriteSourceSize</key>
                        <string>{61,71}</string>
                        <key>textureRect</key>
                        <string>{{114,1},{38,40}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>CryAnimation/cry_0.png</string>
                        <key>spriteOffset</key>
                        <string>{2,5}</string>
                        <key>spriteSourceSize</key>
                        <string>{61,71}</string>
                        <key>textureRect</key>
                        <string>{{154,1},{56,52}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>CryAnimation/cry_1.png</string>
                        <key>spriteOffset</key>
                        <string>{0,5}</string>
                        <key>spriteSourceSize</key>
                        <string>{61,71}</string>
                        <key>textureRect</key>
                        <string>{{212,1},{58,55}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>CryAnimation/cry_2.png</string>
                        <key>spriteOffset</key>
                        <string>{6,5}</string>
                        <key>spriteSourceSize</key>
                        <string>{61,71}</string>
                        <key>textureRect</key>
                        <string>{{272,1},{51,54}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>RunAnimation/run_0.png</string>
                        <key>spriteOffset</key>
                        <string>{8,7}</string>
                        <key>spriteSourceSize</key>
                        <string>{61,71}</string>
                        <key>textureRect</key>
                        <string>{{325,1},{47,57}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>RunAnimation/run_1.png</string>
                        <key>spriteOffset</key>
                        <string>{6,7}</string>
                        <key>spriteSourceSize</key>
                        <string>{61,71}</string>
                        <key>textureRect</key>
                        <string>{{374,1},{48,58}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>RunAnimation/run_2.png</string>
                        <key>spriteOffset</key>
                        <string>{9,7}</string>
                        <key>spriteSourceSize</key>
                        <string>{61,71}</string>
                        <key>textureRect</key>
                        <string>{{424,1},{45,59}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>RunAnimation/run_3.png</string>
                        <key>spriteOffset</key>
                        <string>{7,6}</string>
                        <key>spriteSourceSize</key>
                        <string>{61,71}</string>
                        <key>textureRect</key>
                        <string>{{471,1},{47,60}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>RunAnimation/run_4.png</string>
                        <key>spriteOffset</key>
                        <string>{8,6}</string>
                        <key>spriteSourceSize</key>
                        <string>{61,71}</string>
                        <key>textureRect</key>
                        <string>{{520,1},{45,57}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>RunAnimation/run_5.png</string>
                        <key>spriteOffset</key>
                        <string>{7,6}</string>
                        <key>spriteSourceSize</key>
                        <string>{61,71}</string>
                        <key>textureRect</key>
                        <string>{{567,1},{48,58}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>RunAnimation/run_6.png</string>
                        <key>spriteOffset</key>
                        <string>{6,6}</string>
                        <key>spriteSourceSize</key>
                        <string>{61,71}</string>
                        <key>textureRect</key>
                        <string>{{617,1},{48,60}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>RunAnimation/run_7.png</string>
                        <key>spriteOffset</key>
                        <string>{4,7}</string>
                        <key>spriteSourceSize</key>
                        <string>{61,71}</string>
                        <key>textureRect</key>
                        <string>{{667,1},{51,58}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>ShootAnimation/shoot_0.png</string>
                        <key>spriteOffset</key>
                        <string>{5,5}</string>
                        <key>spriteSourceSize</key>
                        <string>{61,71}</string>
                        <key>textureRect</key>
                        <string>{{720,1},{48,60}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>ShootAnimation/shoot_1.png</string>
                        <key>spriteOffset</key>
                        <string>{8,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{62,71}</string>
                        <key>textureRect</key>
                        <string>{{770,1},{51,61}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>ShootAnimation/shoot_2.png</string>
                        <key>spriteOffset</key>
                        <string>{10,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{62,71}</string>
                        <key>textureRect</key>
                        <string>{{823,1},{43,62}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>ShootAnimation/shoot_3.png</string>
                        <key>spriteOffset</key>
                        <string>{6,5}</string>
                        <key>spriteSourceSize</key>
                        <string>{62,71}</string>
                        <key>textureRect</key>
                        <string>{{868,1},{51,63}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>ShootAnimation/shoot_4.png</string>
                        <key>spriteOffset</key>
                        <string>{7,5}</string>
                        <key>spriteSourceSize</key>
                        <string>{62,71}</string>
                        <key>textureRect</key>
                        <string>{{921,1},{47,62}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>ShootAnimation/shoot_5.png</string>
                        <key>spriteOffset</key>
                        <string>{8,5}</string>
                        <key>spriteSourceSize</key>
                        <string>{61,71}</string>
                        <key>textureRect</key>
                        <string>{{970,1},{48,60}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <true/>
                        <key>name</key>
                        <string>background.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{2044,1536}</string>
                        <key>textureRect</key>
                        <string>{{1,66},{2044,1536}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
